* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(30, 38%, 92%);
    line-height: 1.5;
}

/* Font-colors */
.grey-text {
    color: hsl(228, 12%, 48%)
}

.title {
    color: hsl(212, 21%, 14%);
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 500px;
    width: 800px;
    display: flex;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}

img{
    width: 50%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.contents {
    padding: 30px;
}