* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Fraunces;
    background-color: hsl(30, 38%, 92%);
    line-height: 1.5;
}

/* Font-colors */
.grey-text {
    color: hsl(228, 12%, 48%);
    font-family: Montserrat;
}

.title {
    color: hsl(212, 21%, 14%);
}

.green-text {
    color: hsl(158, 42%, 18%);
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 500px;
    width: 690px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}

img{
    width: 50%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.title {
    width: 200px;
    margin-top: 20px;
    line-height: 1;
}

.description {
    margin-top: 20px;
}


.contents {
    padding: 20px 40px;
}

.prices {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    font-size: 35px;
    font-weight: 700;
}

.small-text {
    text-decoration: line-through;
    font-size: 16px;
    align-self: center;
}


.cart-icon {
    width: 15%;
    margin-right: 10px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-top: 40px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(158, 36%, 37%);
    padding: 15px 70px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 15px;
}