* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(30, 38%, 92%);
}

.card {
    width: 800px;
    display: flex;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
}

img{
    width: 50%;
    height: 100%
}